<form><br>
  <div align="center">
    <div class="example-container">
        <mat-form-field appearance="fill">
      <mat-label>Enter Username</mat-label>
      <input type="text" matInput placeholder="username">
      </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput>
        <mat-hint>Hint: Max 6 Characters</mat-hint>
        </mat-form-field>
      </div>

      <div>
         <button mat-stroked-button>Submit</button>
        </div>
  </div>
</form>