<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>CRUD's OPERATIONS</span>
  </mat-toolbar-row>
</mat-toolbar><br>

<div class="row">
<div class="col-sm-5">
    <mat-card class="example-card">
    <mat-card-header class="example-card-title">
        <mat-card-title>Registration Form</mat-card-title>
      </mat-card-header>
      <div class="example-container">
        <mat-card-content>
          <form [formGroup]="serviceObj.regiForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key"> 
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>Enter First Name</mat-label>
                  <input matInput formControlName="fname">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <mat-error *ngIf="!serviceObj.regiForm.controls['fname'].valid">Please Enter First Name</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter Last Name</mat-label>
                    <input matInput formControlName="lname">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="submitButton && !serviceObj.regiForm.controls['lname'].valid">Please Enter Last Name</mat-error>
                  </mat-form-field>
              </div>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Your Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                    <mat-icon matSuffix>home</mat-icon>
                    <mat-error *ngIf="submitButton && !serviceObj.regiForm.controls['address'].valid">Please Enter Address</mat-error>
                  </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Your Mobile Number</mat-label>
                    <input matInput formControlName="mobileno">
                    <mat-icon matSuffix>settings_phone</mat-icon>
                    <mat-error *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                      <mat-error *ngIf="f.mobileno.errors.required">Please Enter Mobile Number</mat-error>
                    <mat-error *ngIf="f.mobileno.errors.pattern">Please Enter 10 Digit Mobile Number</mat-error>
                    </mat-error>                                        
                  </mat-form-field>
            </div>
            <div class="example-container">
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-select placeholder="Select Branch" formControlName="branch">
                      <mat-option value="mech">Mech</mat-option>
                      <mat-option value="cse">CSE</mat-option>
                      <mat-option value="ece">ECE</mat-option>
                      <mat-option value="civil">Civil</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitButton && !serviceObj.regiForm.controls['lname'].valid && submitted">Please Select Branch</mat-error>
                  </mat-form-field>
              </div>
             <p align="center">I hereby declare that all the statements made by me in the application form and information sheet are true and complete to the best of my knowledge.</p>
             <div class="example-container" align="center">
                <mat-radio-group formControlName="floatLabel" (change)="radioChange($event)">
                  <mat-radio-button value="yes">Yes</mat-radio-button>
                  <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
              </div><br>
              <div align="center">
                  <button mat-raised-button color="primary" type="submit" [disabled]="disabledbutton" name="submitButton" #submitButton active>Submit</button>
                  <button mat-raised-button color="warn" type="reset" active>Reset</button>
              </div>
          </form>
          <div class="alert alert-info"  *ngIf="showSuccessMessage">
            Data gets Submitted to Marvellous Database.
          </div>
          </mat-card-content>
      </div> 
    </mat-card> 
</div>
<div class="col-sm-7">
  <app-studlist></app-studlist>
</div>
</div>
